/* style.css */

body {
    background-color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #12ADC1;
    color: #FFFFFF;
    text-align: center;
    padding: 50px;
    overflow: hidden; /* Pour résoudre le problème de débordement du contenu flottant */
    border-bottom: black solid 3px;
}

header img {
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 50%;
    margin-left: 5%;
    border: black solid 3px;
    box-shadow: black 0 0 10px;
}

#name {
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    color: #FDD037;
    margin: 0;
    padding: 0;
}

header p {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
}

#educationTitle,
#experienceTitle,
#competencesTitle,
#langagesTitle {
    background-color: #0295A9;
    color: #FFFFFF;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: black solid 3px;
}

section ul, aside ul {
    list-style: none;
    padding: 0;
    text-align: left; /* Modifié pour aligner le texte à gauche dans les listes */
    display: none;
}

ul p {
    font-style: italic;
    font-size: 0.8em;
}

section {
    padding-left: 20px;
    width: 45%;
    float: left;
    clear: both;
}

#definitions {
    width: 100%;
}

aside {
    padding-right: 20px;
    width: 45%;
    float: right;
}

#competences ul a, #langages li {
    display: inline-block; /* Les éléments <li> sont affichés en ligne */
    background-color: #0295A9; /* Couleur de fond */
    color: #FFFFFF; /* Couleur du texte */
    padding: 5px 10px; /* Espace intérieur autour des tags */
    margin: 5px; /* Marge autour des tags */
    border-radius: 20px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointer au survol */
    transition: background-color 0.3s; /* Animation de changement de couleur au survol */
}

ul li {
    text-align: center;
}

/* Ajout d'une règle pour les liens */
section a {
    color: #FDD037;
    text-decoration: none;
    font-size: 150%;
}

aside a {
    color: #FDD037;
    text-decoration: none;
}

#langages img {
    height: 30px;
    margin-left: 10px;
    float: right;
}

#langages li a {
    color: #FFFFFF;
}

/* Style pour les liens au survol */
a:hover {
    text-decoration: underline;
}

/* Style pour les listes au survol */
#competences ul a:hover, #langages li:hover {
    background-color: #FDD037;
}

#competencesTitle:hover, #langagesTitle:hover, #educationTitle:hover, #experienceTitle:hover {
    background-color: #FDD037;
}

header img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
}

#menu {
    position: fixed;
    left: -250px; /* Masquez le menu en dehors de l'écran */
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: left 0.5s; /* Ajoutez une transition pour une animation fluide */
}

#menu ul {
    list-style: none;
    padding-top: 70px;
    margin: 0;
}

#menu li {
    padding: 20px;
}

#menu a {
    color: #fff;
    text-decoration: none;
}

/* Style pour mettre en évidence l'élément actif */
#menu li.active {
    background-color: #007BFF;
}

#menuToggle {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1; /* Placez le bouton au-dessus du menu */
}

#Presentation {
    padding: 50px;
    overflow: hidden; /* Pour résoudre le problème de débordement du contenu flottant */
    border-bottom: black solid 3px;
}